/* Styles for light mode */
body {
	background-color: #f2f2f2;
	color: #333;
}

h1,
h2,
h3 {
	color: #555;
}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #333;
		color: #f2f2f2;
	}

	h1,
	h2,
	h3 {
		color: #eee;
	}
}


/* style the header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	padding: 1rem;
}

/* style the logo */
.title {
	font-size: 2rem;
	color: #333;
	text-transform: uppercase;
}

/* style the navigation links */
nav ul {
	display: flex;
	list-style: none;
}

nav ul li {
	margin-right: 1rem;
}

nav ul li a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.3s ease;
}

nav ul li a:hover {
	color: #f77f00;
}

/* style the dark mode toggle button */
.dark-mode-toggle {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

/* style the project section */
.project {
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	margin: 2rem 0;
	padding: 2rem;
}

/* style the project title */
.project-title {
	font-size: 1.5rem;
	color: #333;
	margin-bottom: 1rem;
}

/* style the project description */
.project-description {
	font-size: 1rem;
	line-height: 1.5;
	color: #555;
}

/* style the project link */
.project-link {
	margin-top: 1rem;
}

.project-link a {
	color: #f77f00;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.3s ease;
}

.project-link a:hover {
	color: #333;
}

/* Style for back-to-top button */
.back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 50%;
	padding: 12px;
	font-size: 16px;
	cursor: pointer;
	width: 45px;
	height: 45px;
	transition: all 0.3s ease;
}

.back-to-top:hover {
	background-color: #0062cc;
}

@media only screen and (max-width: 767px) {
	.back-to-top {
		bottom: 10px;
		right: 10px;
		font-size: 14px;
		padding: 10px;
	}
}